body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 120px 1fr 50px;
    height: 100vh;

}

h2, h3 {
    padding: 0;
    margin: 0;
    

}


header {
    /* height: 120px; */
    background-color: #323639;
    width: 100%;
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
  
    
}


header h1 {
    margin-left: 3rem;
    color: white;
}


.taskBar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #d1cfcf;
    
}


.taskBarTop {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    
}



.taskBarTopContents {
    display: flex;
    border: 2px solid black;
    padding: 0.3rem;
    gap: 0.5rem;
    margin: 0.5rem;
   

}

.projects {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 2px solid black;


    
}

.projectsContent {
    display: flex;
    border: 2px solid black;
    padding: 0.3rem;
    gap: 0.5rem;
    margin: 0.5rem;
   

}

.projects h2 {
    margin: 1rem;
    border: 1px solid red;


}

.taskView {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f2f0f0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1rem;
    padding-left: 2rem;
}

.tasks {
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}

.task {
    display: flex;
    border: solid red;
}


footer {
    background-color: red;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}


/*
background-color: #ebe7e4;
*/
